body, html {
    background-color: #555;
    background-image: url('../assets/img/white_dots.svg');
}

.btn {
    background-color: #333;
}

.btn * {
    color: #555;
}

.btn:disabled {
    background-color: #333;
    * {
        color: #222;
    }
}

.btn.active {
    background-color: #222;
    * {
        color: #e6e6e6;
    }
}

#tool_box {
    background-color: #444;
    border: #333 solid 1px !important;
    box-shadow: 0px 5px 0px #333;
}

.note {
    box-shadow: 0 7px 5px rgba(0,0,0,0.3);
}

.delete-button span {
    color: #999;
}

.note textarea {
    color: #333;
}

.editing .note:hover textarea {
    border: 1px dotted #888;
}