* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
}

#add_note {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#whiteboard {
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    border: 2px solid #ddd;
    background-color: #fff;
    overflow: hidden;
    flex-grow: 1;
}

.note {
    width: 200px;
    min-height: 100px;
    padding: 10px;
    position: absolute;
    background-color: yellow;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: move;
    resize: both;
    overflow: hidden;
}

.note textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    resize: none;
    outline: none;
    overflow: hidden;
    font-family: Arial, sans-serif;
    transition: border 0.2s ease;
}

.note:hover textarea {
    border: 1px dashed #888;
    border-radius: 3px;
}